/* Variables */
/* Mixins */
body {
  background: gainsboro;
  font-family: 'Montserrat', sans-serif;
  color: #414141; }

a {
  text-decoration: none;
  color: #fff; }

.top-header {
  background-color: #08A0E3;
  min-height: 100px;
  color: #fff; }

.click-phonecall {
  border-radius: 17px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 7px; }

.bottom-header {
  color: #fff;
  display: grid; }

.bottom-header-main {
  background-color: #08A0E3;
  /* border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%; */
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.bottom-header-content {
  grid-column: 1 / span 8; }

.bottom-header-image {
  grid-column: 9 / span 4; }

.bottom-header-scroll {
  grid-column: span 12; }

.bottom-header-secondary {
  color: #414141;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.secondary-info {
  grid-column: span 4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px; }

.main-cards {
  background: #fff;
  color: #414141; }

.main-cards h2 {
  color: #08A0E3; }

.main-card-1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.main-card-1-content {
  grid-column: 1 / span 5; }

.main-card-1-content h2, p {
  display: flex;
  align-items: center;
  justify-content: center; }

.main-card-1-image {
  grid-column: 6 / span 7;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%; }

.main-card-2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.main-card-2-image {
  grid-column: 1 / span 7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%; }

.main-card-2-content {
  grid-column: 8 / span 5; }

.main-card-2-content h2, p {
  display: flex;
  align-items: center;
  justify-content: center; }

.main-card-3 {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.main-card-3-content {
  grid-column: 1 / span 6; }

.main-card-3-image {
  grid-column: 7 / span 6;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%; }

.main-card-3-content h2, p {
  display: flex;
  align-items: center;
  justify-content: center; }

.main-card-4 {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.main-card-4-content {
  grid-column: 7 / span 7; }

.main-card-4-image {
  grid-column: 1 / span 6;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%; }

.main-card-4-content h2, p {
  display: flex;
  align-items: center;
  justify-content: center; }

.contact {
  background: #fff; }

.form {
  background: gainsboro;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center; }

.form h3 {
  color: #08A0E3;
  font-weight: 700; }

.form-fields {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.form-fields input, textarea {
  border-radius: 5px;
  border: none; }

.form-fields label {
  visibility: hidden; }

footer {
  background: #08A0E3; }

.footer-link-2 {
  background: #fff;
  color: #08A0E3; }

.footer-menu {
  margin: 0 auto;
  max-width: 1000px; }

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around; }

footer ul li::before {
  content: "\2022";
  color: #fff;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  margin-left: -1em; }

footer ul li:nth-child(1)::before {
  content: ""; }
