/* Variables */
$white: #fff;
$primary-color: #08A0E3;
$secondary-color: linear-gradient(-90deg, #0B65C2, $white);
$red-gradient: linear-gradient(-90deg, #FF3333, $white);
$background: gainsboro;
$font-gray: #414141;

/* Mixins */

@mixin css3-prefix($prop, $value) {
   -webkit-#{$prop}: #{$value};
   -moz-#{$prop}: #{$value};
   -ms-#{$prop}: #{$value};
   -o-#{$prop}: #{$value};
   #{$prop}: #{$value};
}

@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin display-grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

body {
  background: $background;
  font-family: 'Montserrat', sans-serif;
  color: %$font-gray;
}

a {
  text-decoration: none;
  color: $white;
}

.top-header {
  background-color: $primary-color;
  min-height: 100px;
  color: $white;
}

.bottom-header {
  color: $white;
  display: grid;

}

.bottom-header-main {
  background-color: $primary-color;
  /* border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%; */
  min-height: 500px;
  @include display-grid-12;

}

.bottom-header-content {
  grid-column: 1 / span 8;
}

.bottom-header-image {
  grid-column: 9 / span 4;
}

.bottom-header-scroll {
  grid-column: span 12;
}

.bottom-header-secondary {
  color: $font-gray;
  @include display-grid-12;
}

.secondary-info {
  grid-column: span 4;
  @include centered;
  padding: 15px;
}
.main-cards {
  background: $white;
  color: $font-gray;
}

.main-cards h2 {
  color: $primary-color;
}

.main-card-1 {
  @include display-grid-12;
}

.main-card-1-content {
  grid-column: 1 / span 5;
}

.main-card-1-content h2, p {
  @include centered;
}

.main-card-1-image {
  grid-column: 6 / span 7;
  @include centered;
  max-width: 100%;
}

.main-card-2 {
  @include display-grid-12;
}

  .main-card-2-image {
  grid-column: 1 / span 7;
  width: 100%;
  @include centered;
  max-width: 100%;
}

.main-card-2-content {
  grid-column: 8 / span 5;
}

.main-card-2-content h2, p {
  @include centered;
}

.main-card-3 {
  @include display-grid-12;
}

.main-card-3-content {
  grid-column: 1 / span 6;
}

.main-card-3-image {
  grid-column: 7 / span 6;
  width: 100%;
  @include centered;
  max-width: 100%;
}

.main-card-3-content h2, p {
  @include centered;
}

.main-card-4 {
  @include display-grid-12;
}

.main-card-4-content {
  grid-column: 7 / span 7;
}

.main-card-4-image {
  grid-column: 1 / span 6;
  width: 100%;
  @include centered;
  max-width: 100%;
}

.main-card-4-content h2, p {
  @include centered;
}

.contact {
  background: $white;
}

.form {
  background: $background;
  max-width: 300px;
  @include centered;
}

.form h3 {
  color: $primary-color;
  font-weight: 700;
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-fields input, textarea {
  border-radius: 5px;
  border: none;
}

.form-fields label {
  visibility: hidden;
}

footer {
  background: $primary-color;
}

.footer-menu {
  margin: 0 auto;
  max-width: 1000px;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

footer ul li::before {
  content: "\2022";
  color: $white;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

footer ul li:nth-child(1)::before {
  content: "";
}
